body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
  align-items: center;
}

nav h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

nav span {
  margin-left: 25px;
  cursor: pointer;
}


/* Banner */

.banner {
  height: 600px;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  );
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.banner h2 {
  font-size:90px;
  letter-spacing:15px;
}

.banner p {
  font-size:22px;
}


button {
  padding:15px 40px;
  background:white;
  border:none;
  font-size:18px;
  cursor:pointer;
}


/* Products */

.products {
  padding:50px;
  text-align:center;
}

.product-grid {
  display:flex;
  justify-content:center;
  gap:30px;
}


.card {
  background:#111;
  padding:20px;
  width:280px;
  border-radius:15px;
}


.card img {
  width:100%;
  height:350px;
  object-fit:cover;
  border-radius:10px;
}


.card h3 {
  margin-top:20px;
}


.card p {
  font-size:20px;
  color:#ddd;
}


.whatsapp {
  display:inline-block;
  margin-top:15px;
  padding:12px 25px;
  background:#25D366;
  color:white;
  text-decoration:none;
  border-radius:5px;
}