*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Arial, sans-serif;
background:#000;
color:white;

}


.website{

width:100%;

}



/* HEADER */


header{

position:absolute;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:35px 70px;

z-index:10;

}


.logo{

font-size:45px;
font-weight:bold;
letter-spacing:12px;

}



nav a{

margin-left:30px;

color:white;

text-decoration:none;

letter-spacing:2px;

}




/* HERO */


.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.8)
),

url("https://images.unsplash.com/photo-1551488831-00ddcb6c6bd3");


background-size:cover;

background-position:center;

}



.hero-text h1{

font-size:120px;

letter-spacing:20px;

}



.hero-text h2{

font-size:40px;

letter-spacing:8px;

}



.hero-text p{

font-size:20px;

margin-top:20px;

color:#ccc;

}



button{

margin-top:35px;

padding:18px 50px;

border:none;

background:white;

font-weight:bold;

cursor:pointer;

}



/* PRODUCTS */


.products{

padding:80px 50px;

text-align:center;

}



.products h2{

font-size:50px;

letter-spacing:8px;

}



.product-grid{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

}



.card{

background:#111;

padding:20px;

width:300px;

border-radius:15px;

}



.card img{

width:100%;

height:350px;

object-fit:cover;

border-radius:10px;

}



.card h3{

margin-top:20px;

}



.card p{

font-size:20px;

margin:15px;

}




.whatsapp{

display:block;

background:#25D366;

color:white;

padding:15px;

text-decoration:none;

border-radius:5px;

}



/* INSTAGRAM */


.social{

padding:70px;

text-align:center;

}



.social a{

display:inline-block;

margin-top:20px;

background:white;

color:black;

padding:15px 40px;

text-decoration:none;

border-radius:5px;

}